body {
    font-family: 'Orbitron', 'sans-serif';
    font-size: 14pt;
    line-height: 16pt;
    background-color: #2b4a6f;
    color: white;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
}

input, textarea, button {
    border-radius: 8px 8px;
    padding: 1em;
    margin: 0px;
}

input, textarea {
    width: 100%;
}

button {
    background-color: #aac864;
    border: 2px solid #d8f0a0;
    margin: 1em;
}

.stripes {
    background-image: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 1rem,
        #ccc 1rem,
        #ccc 2rem
    );
    background-size: 200% 200%;
    animation: barberpole 8s linear infinite;
}

@keyframes barberpole {
    100% { background-position: 100% 100%; }
}

h2 {
    display: inline;
}

#start-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#device {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#device-rpc {
    margin: 1em;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rpc-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    border-radius: 8px;
    background-color: #748ba7;
}

 #ui-method {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 1em;
 }

 #ui-params {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 1em;
 }

.device-hidden {
    display: none !important;
}

.ui-header {
     align-self: center;
     color: #143153;
     margin-bottom: 2em;
 }

.ui-label {
    width: 100%;
     color: #143153;
}
.ui-widget {
    width: 100%;
    flex-grow:1;
}

#rpc-result {
    border-radius: 8px;
    background-color: #6e256e;
    color: #a66fa6;
    padding: 2em;
    overflow: hidden;
}

#device-cfg {
    margin: 1em;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cfg-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2em;
    border-radius: 8px;
    background-color: #748ba7;
}

#ui-key {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 1em;
 }

 #ui-value {
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 1em;
 }
